/** @format */

@charset "UTF-8";

/* Hex Transparency Guide: https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4 */

:root {
  --window-width: min(max(95vw, 320px), 800px);
  --window-height: calc(var(--window-width) * 0.8);
  --header-height: calc(var(--window-height) * 0.15);
  --team-width: calc(var(--window-width) * 0.435);
  --button-border: calc(var(--window-width) * 0.004);
  --outline-width: calc(var(--window-width) * 0.006);
  --button-height: calc(var(--window-height) * 0.07);
  --player-width: calc((var(--team-width) - (var(--window-width) * 0.025)) / 4);
  --button-bottom-margin: calc(var(--window-height) * 0.051);
  --side-padding: calc(var(--window-width) * 0.04);
  --screen-select-color: #c8c4c4;
  --screen-wager-color: #686c9c;
  --screen-crowned-color: #b85c64;
  --dark-gray: #8c8c9b;
  --light-gray: #bbbbcb;
  --whiteish: #ededff;
  --back-color-1: #051911;
  --back-color-2: #16250e;
}

* {
  font-family: 'Libre Baskerville', 'EB Garamond', serif;
  cursor: inherit;
  transition: outline 0.5s linear;
  outline: transparent solid 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-size: 0;
  /*cursor: var(--cursor);*/
}

/*a {
  cursor: var(--cursor-pointer);
}*/

#background {
  position: fixed;
  top: -10vw;
  left: -10vw;
  height: 150vh;
  width: 110vw;
  overflow: hidden;
  z-index: 0;
}

#background #blur{
  position: absolute;
  height: 155vh;
  width: 115vw;
  background: repeating-linear-gradient(
    55deg,
    var(--back-color-1) 0,
    var(--back-color-2) 200px,
    var(--back-color-1) 400px
  );
  filter: blur(36px);
}

#background #eyeHolder {
  height: 155vh;
  width: 115vw;
  position: absolute;
  background-image: url("assets/FTL_EYE_tile.png");
  background-repeat: repeat;
  background-size: 160px;
  z-index: 1;
  opacity: 0.6;
}

#window {
  position: relative;
  width: var(--window-width);
  height: var(--window-height);
  display: block;
  margin: min(max(calc((100vh - var(--window-height)) / 2), 1.5vh), 6vh) auto;
  z-index: 2;
}